html{
    text-align: center;
    font-family: arial;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 1%, 18%, 1)'/><path d='M40 45a5 5 0 110-10 5 5 0 010 10zM0 45a5 5 0 110-10 5 5 0 010 10zM0 5A5 5 0 110-5 5 5 0 010 5zm40 0a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='none' fill='hsla(54, 100%, 62%, 0.16)'/><path d='M20 25a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='none' fill='hsla(360, 99%, 45%, 0.37)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative;
    top: -80px;
}

button{
    width: 120px;
    height: 120px;
    font-size: 60px;
    border-radius: 100%;
    background-color: white;
    border: 0px;
    margin: 5px;
}

button,.menuButton{
    cursor: pointer;
}

.menuButton:hover{
    opacity: 0.75;
}

.buttons button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

h1, h2{
    color: wheat;
}

h1{
    font-size: 65px;
}

.restaurantName{
    position: relative;
    top: -35px;
}

h2{
    font-size: 30px;
    font-style: italic;
    position: relative;
    top: -60px;
}

h3{
    font-size: 20px;
    font-weight: bold;
    color: gold;
}

.menuButton{
    color: wheat;
    background-color: red;
    border-radius: 0.75rem;
    border: solid 2px transparent;
    width: 110px;
    height: 50px;
    font-size: 1.7rem;
    position: relative;
    top: -60px;
}

.spaceIngredients{
    margin: 5px;
    color: wheat;
    border-radius: 0.75rem;
    padding: 5px;
    display: inline-block;
    width: 350px;
    height: 320px;
    background-color: rgb(53, 5, 5);
    border: 2px solid gold;
    text-align: center;
    position: relative;
    top: -100px;
    font-style: italic;
    font-size: 15px;
}

#ingredientsList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

